@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Apply Space Grotesk globally */
html, body, #root, * {
  font-family: 'Space Grotesk', sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* Full height */
html, body, #root {
  height: 100%; /* removes scrollbars */
  background-color: #F8FAFA; /* matches Dashboard background */
}

/* Hide scrollbars globally */
* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  width: 0px; /* Chrome, Edge, Safari */
  background: transparent;
}
